.table-wrapper {
  max-width: 100% !important;
}
@media print {
  * { overflow: visible !important; } 
  .page { page-break-after:always; }
}
<style type="text/css" media="print">
.w-full {
  display:none;
}
</style>
