.table-wrapper {
  max-width: 100% !important;
}
@media print {
  * { overflow: visible !important; } 
  .page { page-break-after:always; }
  #head {
	display:none;
  }
  #left-sidebar {
	display:none;
  }
  #right-sidebar {
	display:none;
  }
  .references {
	display:none;
  }
  .cp__sidebar-help-btn {
	display:none;
  }
}