.table-wrapper {
  max-width: 100% !important;
}
@media print {
  * { overflow: visible !important; } 
  .page { page-break-after:always; }
}
<style type="text/css" media="print">
#head {
  display:none;
}
#left-sidebar {
  display:none;
}
#right-sidebar {
  display:none;
}
.references {
  display:none;
}
</style>